@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom Selection Styles (v4 friendly) */
::selection {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}